body{
    height: 100vh;
    width: 100%;
    background-color: rgb(34, 31, 31);
}
.topic{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40rem;
    color: rgb(211, 205, 205);
    font-size: 10px;
}
.title-left{
    display: flex;
    flex-direction: end;
    gap: 1rem;
    cursor: pointer;
}
.title-right{
    display: flex;
    flex-direction: end;
    gap: 1rem;
    cursor: pointer;
}
.border{
    display: flex;
    justify-content: center;
}
.line{
    width: 900px;
    border-top: 1px solid white;
}
.DP{
    display: grid;
    justify-items: center;
    margin-top: 20px;
}
.img{
    height: 200px;
    width: 200px;
    text-align: center; 
    color: white;
    font-size: 20px;
}
.img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.caption h1{
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(176, 194, 211);
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    margin-bottom: 1px;
}
.button{
    display: flex;
    justify-content: center;
    text-align: center;
}
.click{
    display: flex;
    padding: 10px;
    margin: 15px;
    background-color: rgb(20, 19, 19);
    color: rgb(172, 162, 162);
    cursor: pointer;
}

.narvbar{
    display: flex;
    justify-content: center;
}
.brands{
    display: flex;
    justify-content: center;
    text-align: center; 
    color: white;
    gap: 4rem; 
    background-color:rgb(44, 40, 40);
    padding: 15px 20px;
    cursor: pointer; 
}
.brands :hover{
    background-color: rgb(17, 15, 15);
    padding: 1px;
}
.appreciation{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    color: rgb(209, 213, 218);
    font-family: 'Courier New', Courier,;
    font-size: 20px;
}
.site{
    display: flex;
    justify-content: center;
    text-align: center;
}
.site1{
    height: 15rem;
    width: 13rem;
    padding-top: 100px;
    background-color: rgba(61, 59, 59, 0.829);
    color: white;
    margin: 5px;
}
.site2{
    height: 15rem;
    width: 13rem;
    padding-top: 100px;
    background-color: rgba(61, 59, 59, 0.829);
    color: white;
    margin: 5px;
}
.site3{
    height: 15rem;
    width: 13rem;
    padding-top: 100px;
    background-color: rgba(61, 59, 59, 0.829);
    color: white;
    margin: 5px;
}
.site4{
    height: 15rem;
    width: 13rem;
    padding-top: 100px;
    background-color: rgba(61, 59, 59, 0.829);
    color: white;
    margin: 5px;
}
.border-end{
    display: flex;
    justify-content: center;
}
.line-end{
    width: 900px;
    border-top: 1px solid rgb(66, 62, 62);
    margin: 50px;
}
.update{
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(153, 157, 161);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px
}
