*{
    margin: 0;
    padding: 0;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('./image/deal-bg.jpg');
    gap: 5rem;
}
.nav-left{
    display: flex;
    color: red;
    padding: 2rem;
    margin-bottom: 15rem;
}
.nav-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    padding: 2rem;
    margin-bottom: 15rem;
}
#sub-right{
    width: 8rem;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 30px;
}
.best-wear{
    position: absolute;
    margin-top: 20rem;
    font-size: 5rem;
    margin-right: 25rem;
}
#best{
    width: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    border-radius: 85rem 20rem 85rem 10rem;
}
.paragraph{
    position: absolute;
    font-size: x-large;
    margin-top: 30rem;
}